<div *ngIf="productService.loading | async">Loading...</div>
<div *ngIf="productService.error | async as errorMsg" class="error">
  {{ errorMsg }}
</div>

<div class="page" *ngIf="productService.productData$ | async as product">
  <header class="header">
    <h3 class="header__logo">{{ product.id }}</h3>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <button class="header__button">
            <img
              src="/icons/header/note-edit.svg"
              alt=""
              class="header__icon"
            />
            Edit
          </button>
        </li>
        <li class="header__nav-item header__nav-item--divider"></li>
        <li class="header__nav-item">
          <img src="/icons/header/arrow-prev.svg" alt="" class="header__icon" />
          <img src="/icons/header/arrow-next.svg" alt="" class="header__icon" />
        </li>
        <li class="header__nav-item">
          <img src="/icons/header/maximize.svg" alt="" class="header__icon" />
        </li>
        <li class="header__nav-item">
          <img
            src="/icons/header/close.svg"
            alt=""
            class="header__icon"
            (click)="closeModal()"
          />
        </li>
      </ul>
    </nav>
  </header>

  <main class="product">
    <section class="product__info info-grid">
      <div class="info-grid__block">
        <div class="info-row">
          <strong class="info-row__label">Brand:</strong>
          <div class="info-row__value">
            {{ product.brand }}
            <img
              src="/icons/product-info/more.svg"
              alt=""
              class="info-row__icon"
            />
          </div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Model/Series:</strong>
          <div class="info-row__value">{{ product.model_series }}</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Devise P/N:</strong>
          <div class="info-row__value">{{ product.device_pn }}</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Dev. Type:</strong>
          <div class="info-row__value">{{ product.dev_type }}</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">RNK:</strong>
          <div class="info-row__value">{{ product.rnk }}</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Min Price:</strong>
          <div class="info-row__value">{{ product.min_price }}</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Max Price:</strong>
          <div class="info-row__value">{{ product.max_price }}</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Quantity:</strong>
          <div class="info-row__value">{{ product.quantity }}</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">ePrq:</strong>
          <div class="info-row__value">{{ product.ePrq }}</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">eA4q:</strong>
          <div class="info-row__value">{{ product.eA4q }}</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Photo_device:</strong>
          <div class="info-row__link">
            {{ product.photo_device }}
            <img
              src="/icons/product-info/link.svg"
              alt="Link Icon"
              class="info-row__icon"
            />
          </div>
        </div>
      </div>

      <div class="info-grid__block">
        <div class="info-row">
          <strong class="info-row__label">Sku:</strong>
          <div class="info-row__value">
            {{ product.sku }}
            <img
              src="/icons/product-info/more.svg"
              alt=""
              class="info-row__icon"
            />
          </div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">L-User:</strong>
          <div class="info-row__value">
            {{ product.l_user }}
            <img
              src="/icons/product-info/more.svg"
              alt=""
              class="info-row__icon"
            />
          </div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Category:</strong>
          <div class="info-row__value">
            {{ product.category }}
            <img
              src="/icons/product-info/more.svg"
              alt=""
              class="info-row__icon"
            />
          </div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">E-User:</strong>
          <div class="info-row__value">
            {{ product.e_user }}
            <img
              src="/icons/product-info/more.svg"
              alt=""
              class="info-row__icon"
            />
          </div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Green_id:</strong>
          <div class="info-row__value">{{ product.green_id }}</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Edit_at:</strong>
          <div class="info-row__value">{{ product.edit_at }}</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Create_at:</strong>
          <div class="info-row__value">{{ product.create_at }}</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Amazon Listing Src:</strong>
          <div class="info-row__link">
            {{ product.amazon_listing_src }}
            <img
              src="/icons/product-info/link.svg"
              alt="Link Icon"
              class="info-row__icon"
            />
          </div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">elCcq:</strong>
          <div class="info-row__value">{{ product.elCcq }}</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Amazq:</strong>
          <div class="info-row__value">{{ product.amazq }}</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Notes:</strong>
          <div class="info-row__value">{{ product.notes }}</div>
        </div>
      </div>
    </section>

    <aside class="product__photos">
      <div class="product__photo">
        <span class="product__photo-title">Photo_device</span>
        <img
          src="/images/image.png"
          alt="Photo_device"
          class="product__image"
        />
      </div>
      <div class="product__photo">
        <span class="product__photo-title">Photo_data_plate</span>
        <img
          src="/images/image-1.png"
          alt="Photo_data_plate"
          class="product__image"
        />
      </div>
    </aside>
  </main>

  <section class="list">
    <div class="list__header">
      <h3 class="list__title">List Location</h3>
      <span class="list__badge">6</span>
    </div>

    <div class="list__table-wrapper">
      <table class="list__table">
        <thead class="list__table-head">
          <tr class="list__table-row list__table-row--head">
            <th class="list__table-cell list__table-cell--head">ID</th>
            <th class="list__table-cell list__table-cell--head">Brand</th>
            <th class="list__table-cell list__table-cell--head">Category</th>
            <th class="list__table-cell list__table-cell--head">Device P/N</th>
            <th class="list__table-cell list__table-cell--head">Qty</th>
            <th class="list__table-cell list__table-cell--head">Condition</th>
            <th class="list__table-cell list__table-cell--head">Edit User</th>
            <th class="list__table-cell list__table-cell--head">Notes</th>
          </tr>
        </thead>
        <tbody class="list__table-body">
          <tr class="list__table-row">
            <td class="list__table-cell">G112082</td>
            <td class="list__table-cell">NEC</td>
            <td class="list__table-cell">Projectors</td>
            <td class="list__table-cell">CP34B</td>
            <td class="list__table-cell">52</td>
            <td class="list__table-cell">U/Ref</td>
            <td class="list__table-cell">Script</td>
            <td class="list__table-cell list__table-cell--icon">
              No Lamp
              <img
                src="/icons/product-info/more.svg"
                alt="More"
                class="list__icon"
              />
            </td>
          </tr>
          <tr class="list__table-row">
            <td class="list__table-cell">G112082</td>
            <td class="list__table-cell">NEC</td>
            <td class="list__table-cell">Projectors</td>
            <td class="list__table-cell">CP34B</td>
            <td class="list__table-cell">52</td>
            <td class="list__table-cell">U/Ref</td>
            <td class="list__table-cell">Script</td>
            <td class="list__table-cell list__table-cell--icon">
              No Lamp
              <img
                src="/icons/product-info/more.svg"
                alt="More"
                class="list__icon"
              />
            </td>
          </tr>
          <tr class="list__table-row">
            <td class="list__table-cell">G112082</td>
            <td class="list__table-cell">NEC</td>
            <td class="list__table-cell">Projectors</td>
            <td class="list__table-cell">CP34B</td>
            <td class="list__table-cell">52</td>
            <td class="list__table-cell">U/Ref</td>
            <td class="list__table-cell">Script</td>
            <td class="list__table-cell list__table-cell--icon">
              No Lamp
              <img
                src="/icons/product-info/more.svg"
                alt="More"
                class="list__icon"
              />
            </td>
          </tr>
          <tr class="list__table-row">
            <td class="list__table-cell">G112082</td>
            <td class="list__table-cell">NEC</td>
            <td class="list__table-cell">Projectors</td>
            <td class="list__table-cell">CP34B</td>
            <td class="list__table-cell">52</td>
            <td class="list__table-cell">U/Ref</td>
            <td class="list__table-cell">Script</td>
            <td class="list__table-cell list__table-cell--icon">
              No Lamp
              <img
                src="/icons/product-info/more.svg"
                alt="More"
                class="list__icon"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="list">
    <div class="list__header">
      <h3 class="list__title">List Ebay Vision Listings</h3>
      <span class="list__badge">53</span>
    </div>

    <div class="list__table-wrapper">
      <table class="list__table">
        <thead class="list__table-head">
          <tr class="list__table-row list__table-row--head">
            <th class="list__table-cell list__table-cell--head">Listing_id</th>
            <th class="list__table-cell list__table-cell--head">SKU</th>
            <th class="list__table-cell list__table-cell--head">
              Condition_id
            </th>
            <th class="list__table-cell list__table-cell--head">Product_id</th>
            <th class="list__table-cell list__table-cell--head">Title</th>
            <th class="list__table-cell list__table-cell--head">Price</th>
            <th class="list__table-cell list__table-cell--head">Listing_qty</th>
            <th class="list__table-cell list__table-cell--head">Inventory_q</th>
          </tr>
        </thead>
        <tbody class="list__table-body">
          <tr class="list__table-row">
            <td class="list__table-cell">325064386872</td>
            <td class="list__table-cell">SRQ/P,Ne_ME331X...</td>
            <td class="list__table-cell">UEG122535</td>
            <td class="list__table-cell">G122535</td>
            <td class="list__table-cell">3300 ANSI 3LCD Projector 1080p...</td>
            <td class="list__table-cell">114,27</td>
            <td class="list__table-cell">274</td>
            <td class="list__table-cell">3 376</td>
          </tr>
          <tr class="list__table-row">
            <td class="list__table-cell">325064386872</td>
            <td class="list__table-cell">SRQ/P,Ne_ME331X...</td>
            <td class="list__table-cell">UEG122535</td>
            <td class="list__table-cell">G122535</td>
            <td class="list__table-cell">3300 ANSI 3LCD Projector 1080p...</td>
            <td class="list__table-cell">114,27</td>
            <td class="list__table-cell">274</td>
            <td class="list__table-cell">3 376</td>
          </tr>
          <tr class="list__table-row">
            <td class="list__table-cell">325064386872</td>
            <td class="list__table-cell">SRQ/P,Ne_ME331X...</td>
            <td class="list__table-cell">UEG122535</td>
            <td class="list__table-cell">G122535</td>
            <td class="list__table-cell">3300 ANSI 3LCD Projector 1080p...</td>
            <td class="list__table-cell">114,27</td>
            <td class="list__table-cell">274</td>
            <td class="list__table-cell">3 376</td>
          </tr>
          <tr class="list__table-row">
            <td class="list__table-cell">325064386872</td>
            <td class="list__table-cell">SRQ/P,Ne_ME331X...</td>
            <td class="list__table-cell">UEG122535</td>
            <td class="list__table-cell">G122535</td>
            <td class="list__table-cell">3300 ANSI 3LCD Projector 1080p...</td>
            <td class="list__table-cell">114,27</td>
            <td class="list__table-cell">274</td>
            <td class="list__table-cell">3 376</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="list">
    <div class="list__header">
      <h3 class="list__title">Same Products</h3>
      <span class="list__badge">1</span>
    </div>

    <div class="list__table-wrapper">
      <table class="list__table">
        <thead class="list__table-head">
          <tr class="list__table-row list__table-row--head">
            <th class="list__table-cell list__table-cell--head">Original_id</th>
            <th class="list__table-cell list__table-cell--head">same_id</th>
            <th class="list__table-cell list__table-cell--head">
              fk_edit_employee
            </th>
          </tr>
        </thead>
        <tbody class="list__table-body">
          <tr class="list__table-row">
            <td class="list__table-cell">G112082</td>
            <td class="list__table-cell">G900559</td>
            <td class="list__table-cell list__table-cell--icon">
              Script
              <img
                src="/icons/product-info/more.svg"
                alt="More"
                class="list__icon"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <footer class="footer">
    <div class="footer__actions">
      <button class="footer__button">Expand</button>
      <button class="footer__button footer__button-filled">Add</button>
    </div>
  </footer>
</div>
