<header>
  <h3>Logo</h3>
  <nav>
    <ul>
      <li><button>Edit</button></li>
      <li>|</li>
      <li>Code</li>
      <li>Maximize</li>
      <li>Close</li>
    </ul>
  </nav>
</header>
<div class="">
  <div class=""></div>
  <div class=""></div>
  <div class=""></div>
</div>
<div class="">
  <h3>List location</h3>
  <div class="">
    <table></table>
  </div>
</div>
<div class="">
  <h3>List Ebay Vision Listings</h3>
  <div class="">
    <table></table>
  </div>
</div>
<div class="">
  <h3>Same products</h3>
  <div class="">
    <table></table>
  </div>
</div>
<footer>
  <div class="">
    <button>Expand</button>
    <button>Add</button>
  </div>
</footer>
