<div class="page">
  <header class="header">
    <h3 class="header__logo">G112082</h3>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <button class="header__button">
            <img
              src="/icons/header/note-edit.svg"
              alt=""
              class="header__icon"
            />
            Edit
          </button>
        </li>
        <li class="header__nav-item header__nav-item--divider"></li>
        <li class="header__nav-item">
          <img src="/icons/header/arrow-prev.svg" alt="" class="header__icon" />
          <img src="/icons/header/arrow-next.svg" alt="" class="header__icon" />
        </li>
        <li class="header__nav-item">
          <img src="/icons/header/maximize.svg" alt="" class="header__icon" />
        </li>
        <li class="header__nav-item">
          <img src="/icons/header/close.svg" alt="" class="header__icon" />
        </li>
      </ul>
    </nav>
  </header>

  <main class="product">
    <section class="product__info info-grid">
      <div class="info-grid__block">
        <div class="info-row">
          <strong class="info-row__label">Brand:</strong>
          <div class="info-row__value">
            NEC
            <img
              src="/icons/product-info/more.svg"
              alt=""
              class="info-row__icon"
            />
          </div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Model/Series:</strong>
          <div class="info-row__value">P401W</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Devise P/N:</strong>
          <div class="info-row__value">NP-P401W / NP23LP+</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Dev. Type:</strong>
          <div class="info-row__value">2013,4000,1280,16:10,LCD</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">RNK:</strong>
          <div class="info-row__value">237</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Min Price:</strong>
          <div class="info-row__value">57,19</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Max Price:</strong>
          <div class="info-row__value">100,97</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Quantity:</strong>
          <div class="info-row__value">3 376</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">EPrq:</strong>
          <div class="info-row__value">65</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">EAaq:</strong>
          <div class="info-row__value">6</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Photo_device:</strong>
          <div class="info-row__link">
            https://drive.google.com...
            <img
              src="/icons/product-info/link.svg"
              alt=""
              class="info-row__icon"
            />
          </div>
        </div>
      </div>

      <div class="info-grid__block">
        <div class="info-row">
          <strong class="info-row__label">Sku:</strong>
          <div class="info-row__value">
            ???/P_Ne_P401W/??G112082
            <img
              src="/icons/product-info/more.svg"
              alt=""
              class="info-row__icon"
            />
          </div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">L-User:</strong>
          <div class="info-row__value">
            Iryna
            <img
              src="/icons/product-info/more.svg"
              alt=""
              class="info-row__icon"
            />
          </div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Category:</strong>
          <div class="info-row__value">
            Projector
            <img
              src="/icons/product-info/more.svg"
              alt=""
              class="info-row__icon"
            />
          </div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">E-User:</strong>
          <div class="info-row__value">
            Script
            <img
              src="/icons/product-info/more.svg"
              alt=""
              class="info-row__icon"
            />
          </div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Green_id:</strong>
          <div class="info-row__value">Y</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Edit_at:</strong>
          <div class="info-row__value">30.8.2024 12:32</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Create_at:</strong>
          <div class="info-row__value">30.8.2024 12:32</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Amazon Listing Src:</strong>
          <div class="info-row__link">
            https://www.amazon.com...
            <img
              src="/icons/product-info/link.svg"
              alt=""
              class="info-row__icon"
            />
          </div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">ELCCq:</strong>
          <div class="info-row__value">0</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Amazq:</strong>
          <div class="info-row__value">9</div>
        </div>
        <div class="info-row">
          <strong class="info-row__label">Notes:</strong>
          <div class="info-row__value">------------</div>
        </div>
      </div>
    </section>

    <aside class="product__photos">
      <div class="product__photo">
        <span class="product__photo-title">Photo_device</span>
        <img
          src="/images/image.png"
          alt="Photo_device"
          class="product__image"
        />
      </div>
      <div class="product__photo">
        <span class="product__photo-title">Photo_data_plate</span>
        <img
          src="/images/image-1.png"
          alt="Photo_data_plate"
          class="product__image"
        />
      </div>
    </aside>
  </main>

  <section class="list">
    <div class="list__header">
      <h3 class="list__title">List Location</h3>
      <span class="list__badge">6</span>
    </div>

    <div class="list__table-wrapper">
      <table class="list__table">
        <thead class="list__table-head">
          <tr class="list__table-row list__table-row--head">
            <th class="list__table-cell list__table-cell--head">ID</th>
            <th class="list__table-cell list__table-cell--head">Brand</th>
            <th class="list__table-cell list__table-cell--head">Category</th>
            <th class="list__table-cell list__table-cell--head">Device P/N</th>
            <th class="list__table-cell list__table-cell--head">Qty</th>
            <th class="list__table-cell list__table-cell--head">Condition</th>
            <th class="list__table-cell list__table-cell--head">Edit User</th>
            <th class="list__table-cell list__table-cell--head">Notes</th>
          </tr>
        </thead>
        <tbody class="list__table-body">
          <tr class="list__table-row">
            <td class="list__table-cell">G112082</td>
            <td class="list__table-cell">NEC</td>
            <td class="list__table-cell">Projectors</td>
            <td class="list__table-cell">CP34B</td>
            <td class="list__table-cell">52</td>
            <td class="list__table-cell">U/Ref</td>
            <td class="list__table-cell">Script</td>
            <td class="list__table-cell list__table-cell--icon">
              No Lamp
              <img
                src="/icons/product-info/more.svg"
                alt="More"
                class="list__icon"
              />
            </td>
          </tr>
          <tr class="list__table-row">
            <td class="list__table-cell">G112082</td>
            <td class="list__table-cell">NEC</td>
            <td class="list__table-cell">Projectors</td>
            <td class="list__table-cell">CP34B</td>
            <td class="list__table-cell">52</td>
            <td class="list__table-cell">U/Ref</td>
            <td class="list__table-cell">Script</td>
            <td class="list__table-cell list__table-cell--icon">
              No Lamp
              <img
                src="/icons/product-info/more.svg"
                alt="More"
                class="list__icon"
              />
            </td>
          </tr>
          <tr class="list__table-row">
            <td class="list__table-cell">G112082</td>
            <td class="list__table-cell">NEC</td>
            <td class="list__table-cell">Projectors</td>
            <td class="list__table-cell">CP34B</td>
            <td class="list__table-cell">52</td>
            <td class="list__table-cell">U/Ref</td>
            <td class="list__table-cell">Script</td>
            <td class="list__table-cell list__table-cell--icon">
              No Lamp
              <img
                src="/icons/product-info/more.svg"
                alt="More"
                class="list__icon"
              />
            </td>
          </tr>
          <tr class="list__table-row">
            <td class="list__table-cell">G112082</td>
            <td class="list__table-cell">NEC</td>
            <td class="list__table-cell">Projectors</td>
            <td class="list__table-cell">CP34B</td>
            <td class="list__table-cell">52</td>
            <td class="list__table-cell">U/Ref</td>
            <td class="list__table-cell">Script</td>
            <td class="list__table-cell list__table-cell--icon">
              No Lamp
              <img
                src="/icons/product-info/more.svg"
                alt="More"
                class="list__icon"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="list">
    <h3 class="list__title">List Ebay Vision Listings</h3>
    <div class="list__table-wrapper">
      <table class="list__table"></table>
    </div>
  </section>

  <section class="list">
    <h3 class="list__title">Same products</h3>
    <div class="list__table-wrapper">
      <table class="list__table"></table>
    </div>
  </section>

  <footer class="footer">
    <div class="footer__actions">
      <button class="footer__button">Expand</button>
      <button class="footer__button">Add</button>
    </div>
  </footer>
</div>
