@use "variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway";
  font-weight: 700;
  border-bottom: 1px solid #8184af26;
  padding: 20px 30px;
  &__logo {
    color: $primary-color;
    font-size: 25px;
  }
  &__nav {
    &-list {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 10px;
    }
    &-item {
      &--divider {
        border: 0.1px solid $border-color;
        height: 40px;
        margin: 0 10px;
      }
    }
  }
  &__button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    color: White;
    background-color: #8184af;
    padding: 8px 12px;
    font-size: 21px;
    font-weight: bold;
  }
}

.product {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 30px 20px;
  &__photos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    color: $primary-color;
  }
  &__photo {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  &__image {
    width: 100%;
    max-width: 225px;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    box-shadow: 2px 2px 4px 0 rgba($color: $shadow-color, $alpha: 0.1);
  }
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  flex: 1;
  &__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid $border-color;
    padding-right: 15px;
  }
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  font-family: "Manrope";
  box-shadow: 0px 0px 2px 0 rgba($color: $shadow-color, $alpha: 0.25);
  border-radius: 10px;
  font-size: 23px;
  color: $primary-color;
  font-weight: 600;
  & strong {
    font-weight: 400;
    font-size: 20px;
    font-family: "Raleway";
  }
  &__link {
    font-size: 18px;
  }
  &__link,
  &__left {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.list {
  border-top: 1px solid #8184af4d;
  font-family: "Raleway";
  color: $primary-color;
  &__header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
  }

  &__title {
    margin: 0;
    padding: 0 30px;
    font-size: 25px;
    font-weight: 700;
  }

  &__badge {
    background-color: #8184af33;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 15px;
    color: #52536980;
  }

  &__table-wrapper {
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__table-head {
    text-align: left;
    font-weight: 700;
    border-top: 1px solid #8184af4d;
    font-size: 22px;
  }

  &__table-row {
    border-bottom: 1px solid #8184af26;
    font-weight: 400;
    font-size: 20px;
    &--head {
      border-bottom: 1px solid #8184af26;
    }
  }

  &__table-cell {
    padding: 10px 30px;
    white-space: nowrap;

    &--head {
      border-right: 1px solid #8184af26;
    }

    &--icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
